<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

__Exercise 2:__ Create markdown cell with title of the notebook using H1 style heading.

# Data Science Tools and Ecosystem

__Exercise 3:__ Create a markdown cell for an introduction.

In this notebook, Data Science Tools and Ecosystem are summarized.

__Exercise 10:__ Insert a markdown cell to list Objectives (under Exercise 3) covered in this notebook. Use bold font for the introductory line and use an unordered list for 3 to 5 items covered in the notebook.

__Objectives:__

* Create markdown and code cells (utilizing lists and tables) to:
    * List popular languages for Data Science
    * List libraries used for Data Science
    * List open source development tools for Data Science
    * Evaluate arithmetic expressions in Python

__Exercise 4:__ Create a markdown cell to list three or more data science languages, using an ordered list.

Some of the popular languages that Data Scientists use are:

1. Python
2. Ruby
3. SQL
4. Julia
5. C++

__Exercise 5:__ Create a markdown cell to with an ordered list of three or more data science libraries.

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. PyTorch
4. TensorFlow
5. Scikit-learn

__Exercise 6:__ Create a markdown cell with a table of Data Science tools (three development environment open source tools).

| Data Science Tools |
|----------------------|
| Jupyter Notebooks |
| Anaconda |
| RStudio |
| GitHub |

__Exercise 7:__ Create a markdown cell introducing arithmetic expression examples, using H3 heading style.

### Below are a few examples of evaluating arithmetic expressions in Python.

__Exercise 8:__ Create a code cell to multiply and add numbers. Insert a comment line before the expression to explain the operation. Then execute the cell.

In [3]:
# Multipling 3 by 4, and adding 5
(3 * 4) + 5

17

__Exercise 9:__ Create a code cell to convert minutes to hours. Insert a comment line before the expression to explain the operation. Execute the expression.

In [4]:
# Dividing 200 by 60 to convert minutes into hours
200 / 60

3.3333333333333335

__Exercise 11:__ Create a markdown cell to indicate the Author's name, with the title (Author) in H2 style heading and the author's name in regular text below the title.

__Author__

Edwina Burton